
<p>We'll start by learning two basic elements in text formatting: <em>italics</em>
and <strong>bold</strong>.

<p>To make something <em>italic</em> in Markdown, you can surround words with an
underscore ( _ ). For example, _this_ word would become italic.</p>

<p>For this next lesson, make the word "not" italic.</p>

<div class="row">
  <div class="span4 scratchpad"></div>
  <span class="help-tooltip icon-question" data-toggle="tooltip" data-original-title="You'll type your answers in the left box; the Markdown result will appear in the right box. When your answer is correct, you'll be taken to the next lesson"></span>
  <div class="offset3 span4 renderpad"></div>
</div>

<div class="toBeRevealed">
  <hr>
  <p>Awesome! Great job.</p>
  <p>Similarly, to make something <strong>bold</strong> in Markdown, you can surround
    words with two asterisks ( ** ). This will **really** get your point across.</p>
  <p>In the box below, make the word "will" become bold.</p>
  <div class="row">
    <div class="span4 scratchpad"></div>
    <div class="offset3 span4 renderpad"></div>
  </div>
</div>


<div class="toBeRevealed">
  <hr>
  <p>Awesome! Great job.</p>
  <p>Similarly, to make something <strong>bold</strong> in Markdown, you can surround
    words with two asterisks ( ** ). This will **really** get your point across.</p>
  <p>In the box below, make the word "will" become bold.</p>
  <div class="row">
    <div class="span4 scratchpad"></div>
    <div class="offset3 span4 renderpad"></div>
  </div>
</div>
