
<p>We'll start by learning two basic elements in text formatting: <em>italics</em>
and <strong>bold</strong>.

<p>To make something <em>italic</em> in Markdown, you can surround words with an
underscore ( _ ). For example, _this_ word would become italic.</p>

<p>For this next lesson, make the word "not" italic.</p>

<div class="row">
  <div class="span4 scratchpad"></div>
  <span class="help-tooltip icon-question" data-toggle="tooltip" data-original-title="You'll type your answers in the left box; the Markdown result will appear in the right box. When your answer is correct, you'll be taken to the next lesson"></span>
  <div class="offset3 span3 renderpad"></div>
</div>

<div class="toBeRevealed">
  <hr>
  <p>Awesome! Great job.</p>
  <p>Similarly, to make something <strong>bold</strong> in Markdown, you can surround
    words with two asterisks ( ** ). This will **really** get your point across.</p>
  <p>In the box below, make the word "will" become bold.</p>
  <div class="row">
    <div class="span4 scratchpad"></div>
    <div class="offset3 span3 renderpad"></div>
  </div>
</div>


<div class="toBeRevealed">
  <hr>
  <p>Good work!</p>
  <p>Of course, you can use _both italics and bold_ in the same line. You can also
    span them **across multiple words**.</p>
  <p>In the box below, make the words "Of course" italic, and the words "a little moxie" bold.</p>
  <div class="row">
    <div class="span4 scratchpad"></div>
    <div class="offset3 span3 renderpad"></div>
  </div>
</div>


<div class="toBeRevealed">
  <hr>
  <p>Fantastic!</p>
  <p>For the final exercise in this lesson, we're going to make some words <em>bold <strong>and</strong> italic</em>.</p>
  <p>In general, it doesn't matter what order you place the asterisks or underscores. In the box below, make the words
  "This is unbelievable" both bold and italic. Place the asterisks **_on the outside_**, just to make it more legible.</p>
  <div class="row">
    <div class="span4 scratchpad"></div>
    <div class="offset3 span3 renderpad"></div>
  </div>
</div>


<div class="toBeRevealed">
  <hr>
  <p>You now know how to make things bold and italic in Markdown!</p>
  <a class="btn btn-large btn-success" href="/lesson/2">On to to the next lesson!</a>
</div>
