
<p>If you know how to create links in Markdown, you can create images, too. The
  syntax is exactly the same.</p>

<p>Images also have two styles, just like links. To create an inline image, you'll use
  the same syntax as an inline link. The difference is that an image
  is prefaced with an exclamation point ( ! ), followed by the same two brackets,
  and a pair of parenthesis containing the image URL. Within the image brackets,
  you can place some "alt text," which is a phrase or sentance that describes the
  image for the visually impaired.</p>

<p>In the box below, turn the link to an image, and fill out the alt text brackets
   to say "A representation of Audrey Catburn":</p>
<div class="row">
  <div class="span4 scratchpad"></div>
  <span class="help-tooltip icon-question" data-toggle="tooltip" data-original-title="You'll type your answers in the left box; the Markdown result will appear in the right box. When your answer is correct, you'll be taken to the next lesson"></span>
  <div class="offset3 span3 renderpad"></div>
</div>

<div class="toBeRevealed">
  <hr>
  <p>Wonderful!</p>
  <p>You don't <em>need</em> to add alt text, but it's considered useful and polite
     to the visually impaired. You could just as well leave the boxes empty.</p>
  <p>For a reference image, you'll follow the same pattern as a reference link.
    You'll precede the Markdown with an exclamation point, the provide two brackets
    for the alt text, and then two more for the image tag. At the bottom of your Markdown
    page, you'll define an image for the tag.</p>
  <p>In the box below, we've started placing some reference images; you'll
    need to complete them, just like the last lesson. Call the first reference tag "a fun place", and make
    it link to www.zombo.com; make the second link out to www.stumbleupon.com.</p>
  <div class="row">
    <div class="span4 scratchpad"></div>
    <div class="offset3 span3 renderpad"></div>
  </div>
</div>

<div class="toBeRevealed">
  <hr>
  <p>Ta da! You've learned all there is to adding images in Markdown!</p>
  <a class="btn btn-large btn-success" href="/lesson/4">On to to the next lesson!</a>
</div>
