<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title(params[:number]) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <%= css :application, :media => 'screen' %>
  </head>

  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav">
          <li><a class="nav-link icon-github" href="//github.com/gjtorikian/markdown-tutorial" data-toggle="tooltip" data-original-title="Get the source code to this website"></a></li>
          <li><a class="nav-link icon-home" href="/" data-toggle="tooltip" data-original-title="Return to the start"></a></li>
        </ul>
        <div class="container">
          <div class="row">
            <ul id="progress-bar" class="center-nav nav">
              <li><a class="lesson icon-circle<%= current_page_icon %>" href="/lesson/1" data-toggle="tooltip" data-original-title="Italics and Bold"></a></li>
              <li><a class="lesson icon-circle<%= current_page_icon %>" href="/lesson/2" data-toggle="tooltip" data-original-title="Headers"></a></li>
              <li><a class="lesson icon-circle<%= current_page_icon %>" href="/lesson/3" data-toggle="tooltip" data-original-title="Links"></a></li>
              <li><a class="lesson icon-circle<%= current_page_icon %>" href="/lesson/4" data-toggle="tooltip" data-original-title="Images"></a></li>
              <li><a class="lesson icon-circle<%= current_page_icon %>" href="/lesson/5" data-toggle="tooltip" data-original-title="Blockquotes"></a></li>
              <li><a class="lesson icon-circle<%= current_page_icon %>" href="/lesson/6" data-toggle="tooltip" data-original-title="Lists"></a></li>
              <li><a class="lesson icon-circle<%= current_page_icon %>" href="/lesson/7" data-toggle="tooltip" data-original-title="Paragraphs"></a></li>
              <li><a class="lesson icon-circle<%= current_page_icon(true) %>" href="/conclusion" data-toggle="tooltip" data-original-title="Conclusion"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div><!-- /.navbar -->

    <div class="container">
      <div id="heroku-alert" class="alert alert-info" style="display:none">
        Don't use this ugly Heroku app URL! Check out <a href="http://www.markdowntutorial.com">www.markdowntutorial.com</a> instead.
      </div>
      <hr>

        {{ content }}

      <hr>

      <div class="footer">

      </div>

    </div> <!-- /container -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script>
      var environment = '<%= settings.environment %>';
    </script>
    <%= js :app %>
  </body>
</html>
