span.help-tooltip {
  float: left;
}

.tooltip-inner {
  min-width: 150px; //the minimum width
}

.renderpad {
  background: rgba(255, 255, 255, 0.9);
  border: 1px black dashed;
}

div.toBeRevealed {
  display: none;
}

ol blockquote p {
  font-size: 14px;
}

.btn-skip {
  margin-top: 1em;
}
